body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #58616b;
  text-align: left;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}

.block {
  /* width:700px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 2rem;
}
.map_info {
  padding-top: 2rem;
  vertical-align: top;
  text-align: center;
}
.map {
  display: inline-block;
  width: 90%;
}
.item {
  flex: 0 0 30%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.text-center {
  text-align: center;
  margin: auto;
}
.space-around {
  display: flex;
  justify-content: space-around;
}
